.js-chart-venn-diagram-level0-inner-panel {
    height: 100%;
    margin: 0px 10px 0px 10px;
    position: relative;
}
.js-chart-venn-diagram-2column-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.js-chart-venn-diagram-1column-panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}